.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .navbar-brand {
    font-size: 1.23rem;
    font-weight: bold;
    color: #f0f0f0; 
    text-transform: uppercase;
  }
  
  .navbar-brand span {
    color: rgb(93, 93, 214); 
  }
  .navbar-brand span:hover {
 
    color: rgb(73, 150, 212); 
  }
  
 
  .navbar {
    background-color: #333;
  }
  
  
  .navbar-nav .nav-link {
    color: #d1d1d1;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffffff;
    text-decoration: none;
    color: aquamarine;
  }
  
  /* Responsive alignment */
  @media (min-width: 992px) {
    /* For larger screens, align links to the right */
    .navbar-nav {
      margin-left: auto;
      display: flex;
      gap: 1rem;
    }
  }